# Import Packages:

In [224]:
import pandas as pd
import networkx as nx
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt
import requests
import regex
import re
import pyvis as pv
from IPython.display import display,HTML

# The Data:

### I have chosen a network of Marvel Superheros for my network. Each node represents a character or a comic book/ movie that they can be linked to. The dataset can be found at: http://konect.cc/networks/marvel/. The network is bipartite, where edges link a super hero to a comic that they were present in.

In [225]:
## Read in node information:
hero_nodes = pd.read_csv("https://raw.githubusercontent.com/sphill12/Data_620/main/heros.txt", sep = "/n", header = None)
hero_nodes = pd.DataFrame(data = {"hero":hero_nodes[0].apply(lambda x: str(x).strip())})
hero_nodes.head()

C:\Users\Steve\AppData\Local\Temp\ipykernel_35396\250878319.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  hero_nodes = pd.read_csv("https://raw.githubusercontent.com/sphill12/Data_620/main/heros.txt", sep = "/n", header = None)

                                                hero
0                     Vertex 1: 24-HOUR MAN/EMMANUEL
1  Vertex 2: 3-D MAN/CHARLES CHANDLER & HAROLD CH...
2                         Vertex 3: 4-D MAN/MERCURIO
3                                  Vertex 4: 8-BALL/
4                                        Vertex 5: A

### After reading in the hero names, a node can be assigned to them, and a dictionary can be created to store the metadata on the node:

In [226]:
## Format the nodes so that they can be read into a networkx graph

## Use a regex to remove the vertex information before hero names
hero_nodes = pd.DataFrame(hero_nodes["hero"].apply(lambda x: re.sub("V[^:]*: ","",x)))

## Add node list
hero_nodes["node"] = [i for i in range(1,6487)]


## Create a dictionary that can be read into graph object
hero_nodes["meta_data"] = hero_nodes["hero"].apply(lambda x: {"hero" : x})
hero_nodes["node_data"] = list(zip(hero_nodes.node, hero_nodes.meta_data))
hero_nodes

,hero,node,meta_data,node_data
0,24-HOUR MAN/EMMANUEL,1,{'hero': '24-HOUR MAN/EMMANUEL'},"(1, {'hero': '24-HOUR MAN/EMMANUEL'})"
1,3-D MAN/CHARLES CHANDLER & HAROLD CHANDLER,2,{'hero': '3-D MAN/CHARLES CHANDLER & HAROLD CH...,"(2, {'hero': '3-D MAN/CHARLES CHANDLER & HAROL..."
2,4-D MAN/MERCURIO,3,{'hero': '4-D MAN/MERCURIO'},"(3, {'hero': '4-D MAN/MERCURIO'})"
3,8-BALL/,4,{'hero': '8-BALL/'},"(4, {'hero': '8-BALL/'})"
4,A,5,{'hero': 'A'},"(5, {'hero': 'A'})"
...,...,...,...,...
6481,FORTUNE,6482,{'hero': 'FORTUNE'},"(6482, {'hero': 'FORTUNE'})"
6482,SEERESS,6483,{'hero': 'SEERESS'},"(6483, {'hero': 'SEERESS'})"
6483,STORMER,6484,{'hero': 'STORMER'},"(6484, {'hero': 'STORMER'})"
6484,TIGER WYLDE,6485,{'hero': 'TIGER WYLDE'},"(6485, {'hero': 'TIGER WYLDE'})"
6485,ZONE,6486,{'hero': 'ZONE'},"(6486, {'hero': 'ZONE'})"

### Now Read in the dataframe that contains the comics that superheros were in:

In [227]:
## The comic nodes start at 6487 
comics_nodes = pd.read_csv("https://raw.githubusercontent.com/sphill12/Data_620/main/comics.txt", sep ="/n", header = None)

comics_nodes = pd.DataFrame(data = {"comic": comics_nodes[0].apply(lambda x : re.sub("V[^:]*: ", "", x))})

C:\Users\Steve\AppData\Local\Temp\ipykernel_35396\2634176876.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  comics_nodes = pd.read_csv("https://raw.githubusercontent.com/sphill12/Data_620/main/comics.txt", sep ="/n", header = None)

### Now generate the metadata dictionary for the comic nodes:

In [228]:
## Generate the list of nodes, at 6487 where they start
index = [i for i in range(6487, (6487 + 12942), 1)]
comics_nodes["node"] = index

## Create a dictionary so that nodes and metadata can be read into network object
comics_nodes["metadata"] = comics_nodes["comic"].apply(lambda x: {"comic":x})
comics_nodes["node_data"] = list(zip(comics_nodes.node,comics_nodes.metadata))
comics_nodes.head()

      comic  node               metadata                      node_data
0    AA2 35  6487    {'comic': 'AA2 35'}    (6487, {'comic': 'AA2 35'})
1  M/PRM 35  6488  {'comic': 'M/PRM 35'}  (6488, {'comic': 'M/PRM 35'})
2  M/PRM 36  6489  {'comic': 'M/PRM 36'}  (6489, {'comic': 'M/PRM 36'})
3  M/PRM 37  6490  {'comic': 'M/PRM 37'}  (6490, {'comic': 'M/PRM 37'})
4     WI? 9  6491     {'comic': 'WI? 9'}     (6491, {'comic': 'WI? 9'})

### The edgelist is then read in:

In [229]:
## read the edges in

edge_list = pd.read_csv("https://raw.githubusercontent.com/sphill12/Data_620/main/node_list.txt", delim_whitespace= True)
edge_list = edge_list.iloc[:,0:2]
edge_list = edge_list.rename(columns = {"%":"node_1","bip":"node_2"})
edge_list["edges"] = list(zip(edge_list.node_1,edge_list.node_2))
edge_list.head()

C:\Users\Steve\AppData\Local\Temp\ipykernel_35396\1841840711.py:3: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  edge_list = pd.read_csv("https://raw.githubusercontent.com/sphill12/Data_620/main/node_list.txt", delim_whitespace= True)

   node_1  node_2      edges
0       1    6487  (1, 6487)
1       2    6488  (2, 6488)
2       2    6489  (2, 6489)
3       2    6490  (2, 6490)
4       2    6491  (2, 6491)

### Now the bipartite graph is ready to be generated:

In [230]:
## Create a bipartite graph object

B = nx.Graph()
B.add_nodes_from(hero_nodes["node_data"], bipartite = 0, key  = int)
B.add_nodes_from(comics_nodes["node_data"],bipartite = 1, key = int)
B.add_edges_from(edge_list["edges"])

### To simplify the analysis, it is better to project the graph, as we only care about the relationships between the hero nodes:

In [231]:
## Create a projected graph 

G = nx.bipartite.weighted_projected_graph(B, hero_nodes["node"])

### We will be using the island method to look at the connections between nodes that have a high weight. Prior to trimming edges, we can look at the size of our network:

In [232]:
print("There are " +  str(len(list(G.nodes))) + " nodes")
print("There are " +  str(len(list(G.edges))) + " edges")

There are 6486 nodes
There are 168267 edges

### Now that we have our projected graph, we can start by trimming low weight edges to get an idea of how the network is stuctured:

In [233]:
## trim the edges of the network

def trim_edges(g, weight = 1):
    g2 = nx.Graph()
    for f, to, edata in g.edges(data = True):
        if edata["weight"] > weight:
            g2.add_edge(f,to, weight = edata["weight"])
    return g2

trimmed_network = trim_edges(G)

In [234]:
print("There are " +  str(len(list(trimmed_network.nodes))) + " nodes")
print("There are " +  str(len(list(trimmed_network.edges))) + " edges")

There are 4568 nodes
There are 77227 edges

### Just by trimming the network of nodes with a weight of 1, we have removed about 2000 nodes and about half of the edges that existed before

### We can look at centrality in the network before we begin to form islands:

In [235]:
temp = hero_nodes[["hero", "node"]]
trimmed_centrality = pd.DataFrame(list(nx.degree_centrality(G).items()),columns = ["node","degree_centrality"])
trimmed_centrality = pd.merge(temp, trimmed_centrality, on = "node")
trimmed_centrality.sort_values(by = "degree_centrality", ascending=False).head(25)

,hero,node,degree_centrality
858,CAPTAIN AMERICA,859,0.298072
5305,SPIDER-MAN/PETER PARKER,5306,0.268466
2663,IRON MAN/TONY STARK,2664,0.235621
5715,THING/BENJAMIN J. GRIMM,5716,0.219892
6305,WOLVERINE/LOGAN,6306,0.214958
3804,MR. FANTASTIC/REED RICHARDS,3805,0.213724
2556,HUMAN TORCH/JOHNNY STORM,2557,0.211411
4897,SCARLET WITCH/WANDA MAXIMOFF,4898,0.207402
5735,THOR/DR. DONALD BLAKE/SIGURD JARLSON II/JAKE O...,5736,0.198766
402,BEAST/HENRY &HANK& P. MCCOY,403,0.197379
6065,VISION,6066,0.194757
2649,INVISIBLE WOMAN/SUE STORM RICHARDS,2650,0.191827
2398,HAWK,2399,0.181342
1288,CYCLOPS/SCOTT SUMMERS,1289,0.170239
5466,STORM/ORORO MUNROE Subscribe!,5467,0.168851
132,ANGEL/WARREN KENNETH WORTHINGTON III,133,0.168697
6147,WASP/JANET VAN DYNE PYM,6148,0.168543
153,ANT-MAN/DR. HENRY J. PYM,154,0.168389
5045,SHE-HULK/JENNIFER WALTERS,5046,0.166538
1601,DR. STRANGE/STEPHEN STRANGE,1602,0.166384
2547,HULK/DR. ROBERT BRUCE BANNER,2548,0.164379
6312,WONDER MAN/SIMON WILLIAMS,6313,0.162683
1126,COLOSSUS II/PETER RASPUTIN,1127,0.161141
4365,PROFESSOR X/CHARLES FRANCIS XAVIER,4366,0.160678
3494,MARVEL GIRL/JEAN GREY SUMMERS,3495,0.158674

### Unsurprisingly, the heros with the highest centrality are those that are some of Marvel's biggest superheros. Captain America, Spiderman, Iron Man, and Wolvarine. In Superhero comics, there are generally "communities" of heros that are formed. For example, Captain America and Wolverine don't interact with eachother often as wolverine is part of the X-men community and Captain America is part of the avengers community. We expect these heroes to potentially form their own islands

In [236]:
## show subgraphs based on the amount of connections
def island_method(g, iterations = 10):
    weights = [edata["weight"] for f,to, edata in g.edges(data = True)]
    
    mn = int(min(weights))
    mx = int(max(weights))
    step = int((mx-mn)/ iterations)
    return [[threshold, trim_edges(g, threshold)] for threshold in range(mn, mx, step)]

### Use the island method to find interesting islands:

In [237]:
islands = island_method(G, iterations = 20)
print("repeats per node, nodes, islands that are available")
for i in islands:
    print(i[0], len(i[1]), len(list(nx.connected_components(i[1]))))

repeats per node, nodes, islands that are available
1 4568 12
38 319 17
75 168 10
112 98 8
149 67 6
186 50 7
223 41 7
260 32 5
297 27 5
334 23 6
371 19 5
408 11 4
445 9 3
482 7 2
519 7 2
556 6 2
593 6 2
630 4 1
667 4 1
704 3 1
741 2 1

### We can see that using edge weights between 112 and 261 will most likely net us the most interesting islands. Anything less could be too cluttered, and anything more will be removing too many nodes. I will start by visualizing a smaller network so that we can see the most important nodes first.

# Create and Visualize Island Networks:

### First a function to create dataframes from the trimmed data is generated. This build_community function takes the network (or list of subnetworks) that was trimmed using the island method, and generates graphs for each community. It then calculates the centrality of each node. For later visualization purposes, it assigns a color to each node based on the level of centrality. The node with the highest overall centrality will be red, those over the 75th percentile of centrality will be orange, above 50% will be yellow, above 25% will be blue, and the rest will be grey.

In [238]:
## This function can be used on the communities generated by the previous function to create a dataframe which can then be used to visualize the network

def build_community(community_list, input_type = "node",):
    ## Use community node or edge or subgraph list to create subgraph from main network
    if input_type == "node":
        network = trimmed_network.subgraph(community_list)
    if input_type == "edge":
        network = trimmed_network.edge_subgraph(community_list)
    if input_type == "connected_components":
        index = 0
        group = {}
        network = nx.Graph()
        connected_graphs = [community_list.subgraph(c).copy() for c in sorted(nx.connected_components(community_list), key = len, reverse =True)]
        for graph in connected_graphs:
            index += 1
            network.add_edges_from(list(graph.edges()))
            for node in list(graph.nodes()):
                group[node] = index
            
    ## Initiate dataframe with super hero nodes that are in subgraph
    data_frame = hero_nodes[hero_nodes["node"].isin(list(network.nodes))]
    ## Calculate the centrality of the nodes in the subgraph 
    centrality = pd.DataFrame(data = list(nx.degree_centrality(network).items()), columns = ["node","deg_centrality"])
    data_frame = data_frame[["hero","node"]]
    
    ## merge node and centrality information
    data_frame= pd.merge(data_frame, centrality, on = "node")
    if input_type == "connected_components":
        between_centrality = pd.DataFrame(data = list(nx.betweenness_centrality(network).items()),columns = ["node", "between_centrality"])
        group = pd.DataFrame(group.items(), columns = ["node", "group"])
        data_frame = pd.merge(data_frame, group, on = "node")
        data_frame = pd.merge(data_frame, between_centrality, on = "node")
    ## Assign colors based on centrality percentiles
    percentiles = data_frame["deg_centrality"].describe()
    temp = []
    
    ## loop through nodes to assign color
    for row in data_frame["deg_centrality"]:
        ## highest centrality node is red
        if row == percentiles["max"]:
            temp.append("red")
        elif row > percentiles["75%"]:
            temp.append("orange")
        elif row > percentiles["50%"]:
            temp.append("yellow")
        elif row > percentiles["25%"]:
            temp.append("blue")
        else:
            temp.append("grey")
    
    ## Add color list to dataframe
    data_frame["colors"] = temp
    return data_frame

### Next, a function to visualize this networks easily is created:

In [239]:
## Create a function to build networks plots:

def build_visual(data_frame, specific_network, physics = True):
    ## initiate network from dataframe and subgraph
    
    network = specific_network.subgraph(list(data_frame["node"]))
    ## set visual properties
    net = pv.network.Network(height = "1000px", width = "100%", notebook = False)
    
    ## Set physics parameters
    net.barnes_hut(spring_strength = 0.006)
    
    ## Add nodes in pyviz format
    pyviz_nodes = list(data_frame["node"])
    net.add_nodes(pyviz_nodes, title = list(data_frame["hero"]), color= list(data_frame["colors"]), label = list(data_frame["hero"]))
    
    ## Add edges in pyviz format
    pyviz_edges = list(network.edges)
    pyviz_edges = [list(ele) for ele in pyviz_edges]
    net.add_edges(pyviz_edges)
    
    ## Show plot of network 
    net.show("network2.html", notebook = False)

### We will start by visualizing the highest weight threshold to see the smallest islands:

In [253]:
viz_graph = trim_edges(G, 261)

In [254]:
viz_df = build_community(viz_graph, input_type="connected_components")
build_visual(viz_df, viz_graph)
viz_df.sort_values(by = "between_centrality", ascending= False).head(10)

network2.html

,hero,node,deg_centrality,group,between_centrality,colors
5,CYCLOPS/SCOTT SUMMERS,1289,0.214286,1,0.076720,orange
28,WOLVERINE/LOGAN,6306,0.142857,1,0.066138,yellow
14,NIGHTCRAWLER/KURT WAGNER,3950,0.107143,1,0.023810,blue
24,THOR/DR. DONALD BLAKE/SIGURD JARLSON II/JAKE O...,5736,0.107143,2,0.018519,blue
3,CAPTAIN AMERICA,859,0.250000,2,0.016975,red
10,IRON MAN/TONY STARK,2664,0.250000,2,0.016975,red
21,SPIDER-MAN/PETER PARKER,5306,0.142857,3,0.013228,yellow
4,COLOSSUS II/PETER RASPUTIN,1127,0.107143,1,0.002646,blue
19,SCARLET WITCH/WANDA MAXIMOFF,4898,0.178571,2,0.001764,orange
6,HAWK,2399,0.178571,2,0.000661,orange

In [242]:
viz_df.sort_values(by = "deg_centrality", ascending = False).head(10)

,hero,node,deg_centrality,group,between_centrality,colors
10,IRON MAN/TONY STARK,2664,0.250000,2,0.016975,red
3,CAPTAIN AMERICA,859,0.250000,2,0.016975,red
5,CYCLOPS/SCOTT SUMMERS,1289,0.214286,1,0.076720,orange
26,WASP/JANET VAN DYNE PYM,6148,0.178571,2,0.000661,orange
6,HAWK,2399,0.178571,2,0.000661,orange
19,SCARLET WITCH/WANDA MAXIMOFF,4898,0.178571,2,0.001764,orange
0,ANGEL/WARREN KENNETH WORTHINGTON III,133,0.142857,1,0.000000,yellow
21,SPIDER-MAN/PETER PARKER,5306,0.142857,3,0.013228,yellow
1,ANT-MAN/DR. HENRY J. PYM,154,0.142857,2,0.000000,yellow
12,MARVEL GIRL/JEAN GREY SUMMERS,3495,0.142857,1,0.000000,yellow

## Now we can look at a lower weight cutoff for more connected islands:

In [255]:
viz_graph = trim_edges(G,112)
viz_df = build_community(viz_graph, input_type = "connected_components")
build_visual(viz_df, viz_graph)

network2.html

In [256]:
viz_df.sort_values(by ="between_centrality",ascending =False).head(10)

,hero,node,deg_centrality,group,between_centrality,colors
12,CAPTAIN AMERICA,859,0.268041,1,0.243254,red
4,BEAST/HENRY &HANK& P. MCCOY,403,0.123711,1,0.197201,orange
80,SPIDER-MAN/PETER PARKER,5306,0.134021,1,0.123711,orange
87,THOR/DR. DONALD BLAKE/SIGURD JARLSON II/JAKE O...,5736,0.216495,1,0.103588,orange
42,IRON MAN/TONY STARK,2664,0.175258,1,0.073570,orange
81,STORM/ORORO MUNROE Subscribe!,5467,0.144330,1,0.049568,orange
94,WOLVERINE/LOGAN,6306,0.134021,1,0.048179,orange
8,BLACK WIDOW/NATASHA ROMANOVA,545,0.051546,1,0.043868,yellow
88,VISION,6066,0.144330,1,0.030035,orange
85,THING/BENJAMIN J. GRIMM,5716,0.113402,1,0.029968,orange

In [245]:
viz_df.sort_values(by=  "deg_centrality",ascending  = False).head(10)

,hero,node,deg_centrality,group,between_centrality,colors
12,CAPTAIN AMERICA,859,0.268041,1,0.243254,red
87,THOR/DR. DONALD BLAKE/SIGURD JARLSON II/JAKE O...,5736,0.216495,1,0.103588,orange
42,IRON MAN/TONY STARK,2664,0.175258,1,0.073570,orange
88,VISION,6066,0.144330,1,0.030035,orange
81,STORM/ORORO MUNROE Subscribe!,5467,0.144330,1,0.049568,orange
90,WASP/JANET VAN DYNE PYM,6148,0.134021,1,0.018520,orange
80,SPIDER-MAN/PETER PARKER,5306,0.134021,1,0.123711,orange
94,WOLVERINE/LOGAN,6306,0.134021,1,0.048179,orange
4,BEAST/HENRY &HANK& P. MCCOY,403,0.123711,1,0.197201,orange
85,THING/BENJAMIN J. GRIMM,5716,0.113402,1,0.029968,orange

In [257]:
viz_graph = trim_edges(G, 38)
viz_df = build_community(viz_graph, input_type = "connected_components")
build_visual(viz_df, viz_graph)

network2.html

# Using networkX algorithms to locate islands:

### Networkx also has algorithms available for generating islands/communities. If we want to trim less off the network and visualize more connected individual islands, then the community functions can be useful:

In [258]:
communities_trim = trim_edges(G, 5)
communities = sorted(nx.community.louvain_communities(communities_trim), key = len, reverse =True)

for i in communities:
    print(i)

{6146, 2051, 1029, 4104, 3080, 1038, 1039, 4118, 6168, 5146, 6173, 3101, 6175, 2081, 2083, 5156, 37, 39, 1065, 2091, 5164, 5165, 5173, 3128, 57, 2106, 3134, 1087, 5190, 3143, 6216, 76, 3149, 2126, 1115, 6235, 2142, 5214, 4197, 102, 1127, 4198, 6249, 107, 3181, 1138, 3188, 6266, 126, 4223, 1155, 133, 6279, 3209, 6283, 1165, 2191, 4239, 6288, 6290, 5117, 4240, 1175, 4247, 1177, 6300, 3231, 5280, 6306, 1186, 1188, 1189, 3237, 6311, 6312, 168, 172, 1198, 4272, 3250, 1204, 1206, 183, 186, 6330, 189, 2238, 2237, 1214, 4289, 195, 5317, 1223, 204, 5327, 6351, 2256, 2258, 4306, 5337, 6366, 6367, 5345, 5347, 3307, 4338, 251, 6398, 3326, 1280, 3329, 4354, 1282, 1289, 5386, 2316, 4365, 4366, 1299, 3347, 4375, 280, 1304, 4378, 6427, 284, 1309, 6430, 3359, 3360, 3357, 288, 3363, 2345, 4395, 4397, 3374, 2358, 3383, 3397, 4427, 1356, 3406, 1361, 340, 2390, 5466, 5467, 2397, 3425, 3426, 1381, 1382, 1383, 5484, 5485, 1392, 1397, 5497, 5498, 5500, 5502, 1407, 5504, 3459, 281, 3470, 403, 5524, 3477, 3476, 5525, 2458, 5532, 5535, 419, 5540, 422, 3495, 4521, 5546, 3500, 429, 3506, 4538, 3515, 1467, 4541, 2499, 3525, 3527, 4558, 5583, 4563, 5587, 5593, 4571, 478, 5601, 4580, 3560, 3561, 2540, 498, 500, 3574, 5623, 5630, 4610, 516, 3588, 4614, 5636, 2566, 5643, 1547, 2574, 1551, 2577, 3601, 1556, 2581, 2582, 2584, 544, 4641, 5664, 5668, 3620, 2603, 3632, 3636, 4661, 4660, 3637, 567, 5692, 576, 1608, 585, 4684, 1619, 1620, 595, 4694, 3670, 5725, 4702, 1630, 1632, 610, 3691, 2669, 3696, 5745, 1653, 4726, 632, 5755, 5756, 4733, 5761, 5762, 5763, 644, 3720, 649, 1676, 5778, 659, 2708, 3732, 4757, 1692, 4765, 4767, 3744, 4769, 5792, 676, 1702, 2726, 5800, 5809, 1719, 3773, 4800, 1729, 4804, 4805, 710, 1734, 2760, 1735, 714, 5839, 5852, 3806, 1759, 1758, 2789, 742, 3822, 3836, 5887, 4865, 1795, 1796, 4871, 4875, 5904, 4884, 1815, 5912, 3868, 3870, 800, 1829, 4904, 1847, 1850, 2876, 2877, 1852, 3902, 831, 1853, 4931, 837, 842, 5964, 850, 854, 856, 3932, 4959, 1887, 4961, 867, 4966, 2923, 3950, 6000, 880, 1910, 3961, 6010, 4997, 5002, 2954, 5003, 6031, 1948, 1957, 1959, 5034, 1963, 4015, 947, 5043, 4021, 1974, 2999, 4029, 1991, 967, 970, 5066, 3020, 1997, 5068, 2000, 4050, 6108, 991, 992, 4064, 3045, 998, 3047, 4072, 4074, 3052, 1005, 2030, 3055, 6127, 5105, 3059, 2040, 6141, 3070, 5119}
{6148, 5125, 3078, 3079, 2052, 5131, 5147, 5149, 5150, 2080, 6178, 5155, 5159, 1080, 1082, 6206, 6208, 3140, 2120, 5192, 6227, 2133, 3161, 4187, 3165, 1118, 6239, 94, 3176, 4211, 4226, 3202, 4228, 3207, 3208, 1161, 5268, 3220, 4246, 2199, 154, 1179, 1178, 5281, 4261, 6313, 5290, 1195, 175, 6319, 2232, 2235, 188, 5310, 197, 2248, 1229, 1231, 5330, 212, 5335, 5336, 3292, 1247, 6372, 6374, 2278, 6376, 6381, 2288, 3319, 4345, 2297, 3323, 5373, 1277, 5375, 5378, 1283, 260, 4356, 3334, 4359, 3336, 262, 3331, 3333, 5388, 3340, 6412, 3346, 5396, 2328, 3356, 6429, 4380, 6432, 6434, 4387, 6441, 3373, 4403, 1345, 2369, 5446, 328, 3405, 3407, 2389, 1369, 4441, 3419, 3422, 2399, 2402, 5475, 5477, 4454, 1385, 361, 1388, 4462, 3440, 3441, 4473, 1402, 1405, 3454, 1409, 1420, 399, 2448, 2449, 400, 4499, 2452, 4500, 3478, 4503, 4495, 4511, 5544, 1449, 1452, 5548, 3504, 3505, 5553, 5555, 5564, 3521, 2502, 2503, 5576, 5575, 5574, 4555, 5579, 457, 4559, 1488, 4566, 3543, 5603, 490, 491, 4588, 2541, 5611, 1520, 4593, 5622, 4599, 3576, 507, 4603, 3582, 4607, 514, 518, 520, 521, 522, 525, 527, 5647, 533, 3606, 5656, 545, 3619, 5669, 557, 561, 1587, 1588, 1593, 5696, 3648, 4673, 3653, 5704, 5705, 5706, 592, 593, 594, 602, 3678, 1633, 1634, 2664, 2665, 2666, 2667, 4718, 1646, 2672, 626, 1657, 2682, 3712, 642, 4738, 3716, 4741, 5776, 4754, 4760, 4762, 1694, 5796, 3749, 5802, 3757, 4783, 3760, 3761, 3764, 3777, 1732, 1733, 3795, 1748, 3797, 1750, 3800, 1762, 738, 1764, 1765, 5862, 5868, 5870, 3833, 762, 4859, 2819, 1805, 783, 2833, 4881, 5910, 4892, 2846, 4896, 1824, 4898, 2851, 804, 1828, 5924, 5930, 812, 2865, 1842, 5939, 5942, 1849, 1851, 3903, 4929, 4930, 5955, 2884, 3914, 1871, 2898, 1876, 5973, 1878, 3927, 5978, 859, 860, 861, 3934, 5982, 3931, 5986, 1891, 5991, 874, 875, 4970, 5999, 2927, 4978, 2931, 1912, 3960, 2940, 6013, 897, 6021, 1929, 909, 910, 6039, 920, 921, 2971, 1950, 6054, 6055, 6056, 937, 2983, 6066, 5046, 4024, 955, 3008, 1986, 1988, 4044, 6095, 3024, 3023, 3030, 2008, 5088, 2016, 3046, 1002, 6123, 2029, 4080, 5106, 6130, 6140}
{1026, 1031, 5127, 4106, 4109, 4110, 5136, 6160, 6162, 5137, 4112, 6166, 4125, 1054, 4133, 4134, 2088, 5166, 3124, 4151, 4154, 4155, 3135, 3136, 4161, 2125, 5199, 5201, 6225, 5204, 6229, 2141, 2148, 3173, 3172, 6251, 2157, 6256, 3184, 5234, 5235, 6257, 5239, 1146, 3195, 4220, 1147, 132, 5253, 6278, 3212, 5262, 5270, 3223, 152, 3224, 2203, 169, 2218, 2219, 2220, 2221, 3254, 6326, 5306, 5307, 5308, 6334, 5311, 5313, 2247, 3279, 2257, 1234, 4307, 4312, 229, 5352, 5353, 5354, 5355, 6380, 5358, 239, 5360, 3318, 3320, 1273, 2309, 3341, 3344, 272, 2331, 4381, 4383, 291, 5416, 3372, 5432, 4411, 5436, 4415, 5440, 321, 1347, 4420, 2372, 3401, 3403, 332, 333, 3409, 339, 3411, 1370, 4450, 3436, 5495, 381, 1406, 5505, 387, 4494, 3475, 2460, 1438, 4519, 1448, 3502, 2494, 2496, 2497, 5568, 3522, 4550, 1490, 2515, 2522, 3547, 3549, 3554, 486, 495, 3569, 508, 513, 5634, 3592, 3603, 1567, 543, 2593, 4647, 3625, 568, 1594, 1595, 4669, 1600, 3651, 1628, 2653, 4703, 4704, 4705, 4707, 5732, 4714, 3705, 2692, 2693, 650, 4747, 652, 1679, 3729, 3734, 2713, 3740, 2717, 5791, 1699, 3748, 4787, 1718, 1721, 5817, 3770, 2746, 1727, 5840, 4817, 722, 5846, 3808, 5858, 739, 5863, 4839, 3818, 2804, 3832, 4856, 2811, 5885, 2813, 768, 771, 3850, 4874, 5901, 2834, 791, 3865, 3866, 795, 1817, 5917, 797, 5919, 801, 807, 4908, 822, 4925, 2881, 2882, 840, 4938, 3916, 3917, 3918, 5970, 851, 5971, 1900, 2930, 884, 2933, 886, 887, 890, 4991, 6019, 6025, 906, 2958, 2959, 912, 2960, 914, 915, 917, 1943, 1952, 1953, 5030, 1958, 934, 4013, 942, 1966, 1967, 2995, 4023, 3001, 4031, 5060, 1993, 1994, 6089, 5072, 6099, 981, 6105, 5081, 3036, 5085, 3041, 994, 6121, 1003, 6132, 4087, 4088, 4090, 5118, 1023}
{6145, 1542, 1543, 1544, 10, 1044, 21, 2069, 1568, 5153, 3617, 1571, 1572, 4644, 6181, 1569, 3112, 43, 44, 3117, 46, 558, 3119, 3122, 4146, 6196, 4149, 1077, 3641, 2618, 1602, 67, 5699, 582, 584, 2123, 2124, 4685, 5197, 4174, 5200, 82, 83, 5715, 2649, 4711, 2153, 4202, 2670, 3694, 624, 6259, 116, 3190, 2167, 6265, 635, 3198, 128, 3203, 1670, 3216, 3217, 5266, 4756, 4759, 6297, 4253, 5283, 4776, 6316, 6322, 4786, 1203, 1202, 4793, 185, 3769, 5823, 3779, 2244, 5830, 5321, 2768, 6353, 2769, 4822, 6363, 223, 3297, 5350, 1257, 4335, 5878, 759, 4350, 2303, 4866, 259, 4868, 4878, 2323, 4374, 5399, 1307, 2333, 1310, 1826, 5925, 3878, 3884, 3375, 6453, 5945, 5946, 2878, 3905, 5958, 5959, 4942, 4433, 337, 3922, 4438, 3421, 3933, 355, 356, 5989, 359, 876, 3437, 4976, 2928, 2419, 6003, 3956, 4982, 3959, 6006, 6012, 2430, 5506, 4484, 2950, 2438, 5516, 1421, 3471, 3472, 3985, 3986, 2969, 5022, 2975, 1439, 5025, 936, 2989, 2483, 3511, 449, 453, 454, 1480, 4042, 3531, 3025, 4049, 5077, 3031, 4568, 3035, 481, 2529, 4067, 4075, 2028, 5613, 5614, 1004, 4591, 4079, 4595, 2548, 5115, 4604, 2558, 1535}
{5121, 2054, 3594, 2572, 3088, 2065, 4630, 2588, 3100, 4127, 32, 1570, 2594, 1573, 5673, 4650, 554, 4653, 1582, 1583, 2094, 5170, 5685, 2613, 59, 3132, 2623, 63, 2624, 578, 2627, 65, 3662, 2639, 1616, 3155, 5716, 2650, 5722, 4188, 93, 2655, 5760, 6275, 1158, 2184, 2698, 5770, 3724, 1677, 3726, 3211, 6291, 148, 5782, 5271, 665, 155, 4252, 1185, 3233, 5795, 2728, 4778, 4785, 179, 6333, 190, 3776, 3264, 192, 5827, 3780, 6341, 1737, 5845, 5849, 3802, 3805, 3294, 3296, 228, 3302, 746, 4330, 1773, 240, 1777, 1265, 5874, 3829, 5366, 5367, 254, 767, 2815, 2824, 1806, 6418, 1814, 3350, 4388, 5926, 3879, 4393, 5931, 2354, 6450, 830, 4417, 4418, 5954, 3912, 1357, 2894, 5967, 4447, 392, 2964, 5012, 6038, 3995, 924, 2973, 3496, 5547, 6079, 3520, 5065, 3530, 1484, 1486, 1496, 3544, 995, 4589, 2031, 1519, 2549, 505, 1530, 2557}
{5633, 1802, 1803, 16, 278, 6424, 3097, 1818, 5923, 35, 3365, 5412, 5411, 3624, 5419, 555, 6445, 5935, 4147, 2357, 3382, 570, 3387, 4671, 3392, 323, 4423, 1864, 3148, 2893, 2637, 591, 5458, 606, 3424, 1121, 4453, 2919, 5736, 5737, 110, 4207, 111, 2422, 2423, 4983, 2937, 1152, 2948, 5768, 3977, 907, 3468, 1423, 2453, 2454, 3733, 2206, 1696, 2466, 2471, 2472, 3241, 2731, 3245, 5806, 4781, 435, 1462, 6072, 5561, 4282, 2492, 1469, 3005, 958, 4542, 6083, 4036, 6084, 3272, 1992, 2506, 1739, 3532, 4045, 2764, 1744, 723, 472, 3290, 2526, 5600, 2279, 5099, 3053, 4078, 5103, 2799, 6383, 2800, 3827, 5620, 2801, 4855, 1787, 3071}
{256, 6155, 5899, 5900, 4876, 784, 4882, 1045, 31, 2852, 38, 1319, 1577, 3885, 2096, 3889, 4663, 4664, 4665, 2105, 1084, 2626, 3139, 324, 325, 3658, 5708, 1365, 5218, 1892, 613, 3942, 3943, 1125, 1897, 3949, 1135, 3187, 1144, 2426, 638, 1664, 4481, 900, 395, 1166, 398, 4752, 2962, 5786, 3994, 1435, 668, 1184, 2981, 4775, 2476, 1196, 5294, 5295, 1197, 5303, 5304, 1220, 1990, 3019, 3537, 5333, 4314, 2011, 4316, 4315, 3550, 4317, 1505, 5602, 4322, 4325, 4326, 3559, 3813, 1516, 4340, 5110, 3066, 1276}
{1024, 3585, 1794, 3586, 3593, 270, 2831, 2832, 2321, 4888, 5913, 2585, 1306, 1052, 2842, 4894, 803, 2084, 5667, 2343, 296, 824, 5438, 6218, 3146, 6219, 5965, 3408, 6230, 3671, 5976, 4696, 4697, 2658, 2403, 2659, 5480, 1133, 895, 127, 6273, 6274, 3971, 4996, 6027, 4496, 6032, 3987, 3988, 1688, 5529, 666, 1441, 4516, 4772, 4262, 1191, 4527, 4274, 3509, 6075, 3774, 2246, 5064, 2504, 4302, 464, 977, 1499, 5342, 736, 4320, 483, 1527}
{1281, 4229, 4105, 3081, 4621, 4237, 1554, 3354, 411, 5661, 2592, 5024, 2723, 2424, 6393, 6438, 1962, 4010, 171, 1581, 1330, 1331, 6451, 2614, 5814, 1975, 3513, 2810, 3388, 191, 1599, 66, 2119, 5707, 2508, 2896, 208, 4434, 5332, 6228, 2260, 729, 2778, 3935, 4321, 5987, 4069, 2406, 871, 4070, 1766, 106, 3955, 1014, 5880, 2169, 1018}
{2945, 5250, 1923, 5514, 3852, 3469, 6286, 269, 273, 274, 3989, 5013, 2586, 670, 672, 809, 4398, 1071, 1199, 3507, 6269, 2301, 2108, 2122, 4171, 1103, 3919, 3418, 1498, 2273, 6241, 3428, 2276, 2159, 2544, 5616, 4210, 4477, 5113, 4860, 4861}
{5120, 6147, 1288, 1673, 5775, 3984, 1937, 3618, 2212, 1062, 1063, 424, 425, 4011, 5426, 3765, 3642, 5824, 4934, 4935, 1224, 3015, 4047, 3410, 4309, 4318, 2657, 5233, 4723, 1908, 1011, 760, 761, 2173}
{1088, 4545, 385, 4353, 1092, 3205, 1097, 4682, 651, 528, 1873, 1172, 853, 536, 794, 1503, 4132, 5096, 4712, 1194, 108, 749, 4404, 1845, 2046, 247, 2168, 1403, 2045, 2622}
{1989, 6343, 3657, 5644, 6413, 5518, 6414, 5073, 3091, 3092, 3093, 2003, 792, 4632, 1051, 91, 5019, 4830, 3750, 938, 5228, 5362, 1211}
{5834, 3021, 3028, 4887, 5400, 3032, 24, 2587, 5401, 3037, 3098, 1884, 5848, 4953, 3235, 2790, 4731, 1069, 1070, 5680, 4027, 2941}
{2689, 6402, 6405, 2073, 349, 5021, 1245, 4280, 3300, 6437, 2092, 685, 3568, 3314, 2229, 6264, 4281, 5820}
{4292, 964, 1614, 1809, 5527, 865, 612, 3364, 2602, 3499, 748, 4655, 4656, 3952, 1722, 2043, 2239}
{5829, 3398, 6220, 19, 4053, 4758, 6103, 731, 28, 4508, 4446, 3305, 2795, 1649, 6452, 4341}
{827, 2467, 1380, 2373, 713, 5323, 3762, 4947, 820, 6005, 3674, 2107}
{3553, 6119, 3368, 3786, 2570, 3564, 3120, 2675, 3771, 604, 5309}
{4267, 6060, 4811, 206, 3151, 846, 5652, 180, 2102, 4921, 857}
{5573, 2534, 4744, 1580, 1324, 2700, 2864, 3825, 693, 3415, 4063}
{2240, 193, 5026, 3982, 1906, 1909, 4918, 343, 3196, 3006}
{1607, 5992, 1613, 2352, 565, 3189, 2808, 1629}
{512, 4114, 3814, 3958, 3228, 1693, 4270}
{5649, 1337, 3910, 2295, 1513, 5773, 735}
{6464, 6463, 6471, 6475, 6460, 6461, 1999}
{4026, 194, 4633, 6234, 4300, 3567}
{4743, 4410, 267, 3452, 1691, 2140}
{5984, 5744, 4629, 745, 2589, 6030}
{5095, 3540, 4422, 2327, 1848, 2681}
{1123, 1412, 1124, 4794, 314}
{3812, 484, 1518, 1566, 1919}
{5057, 5220, 4501, 5193, 1148}
{4025, 3473, 1269, 2678}
{3456, 764, 4525}
{1410, 5859, 4796}
{4552, 4553, 1970}
{5032, 5940, 2863}
{3948, 342}
{608, 6207}
{611, 918}
{3754, 1478}
{6444, 2078}
{3274, 2382}
{3107, 4348}
{4083, 3894}

In [259]:
communities_df = build_community(communities[0], input_type="node")
build_visual(communities_df, communities_trim)

network2.html

## We can look at the size of each of these communities that have been generated:

In [260]:
communities_df.sort_values(by = "deg_centrality", ascending = False).head(10)

                                     hero  node  deg_centrality  colors
383                       WOLVERINE/LOGAN  6306        0.665816     red
322         STORM/ORORO MUNROE Subscribe!  5467        0.625000  orange
81                  CYCLOPS/SCOTT SUMMERS  1289        0.619898  orange
65             COLOSSUS II/PETER RASPUTIN  1127        0.586735  orange
258    PROFESSOR X/CHARLES FRANCIS XAVIER  4366        0.584184  orange
21            BEAST/HENRY &HANK& P. MCCOY   403        0.576531  orange
206         MARVEL GIRL/JEAN GREY SUMMERS  3495        0.563776  orange
7    ANGEL/WARREN KENNETH WORTHINGTON III   133        0.561224  orange
235              NIGHTCRAWLER/KURT WAGNER  3950        0.545918  orange
298       SHADOWCAT/KATHERINE KITTY PRYDE  5002        0.505102  orange